platforms
plugins
typings
hooks
.vscode
node_modules
www/*.js
www/*.map
www/**/*.js
www/**/*.map
www/*.html
www/**/*.html
www/src/Assets/*
www/src/Assets/**/*
www/src/Language/*
www/src/Css/index.css
package-lock.json
jsconfig.json